<div data-jc-scope="?">

	<div data-jc="visible" data-jc-path="response" data-if="value && value.success" class="hidden">
		<div class="contactform-success">
			<div><span class="fa fa-5x fa-check-circle"></span></div>
			<p><b>Kontaktný formulár bol úspešne odoslaný.</b><br />V priebehu niekoľkých hodín Vás budeme spätne kontaktovať.</p>
		</div>
	</div>

	<div data-jc="visible" data-jc-path="response" data-if="value == null || !value.success">
		<div class="row">
			<div class="col-sm-6 m">
				<div data-jc="textbox" data-jc-path="firstname" data-required="true" data-maxlength="30">Meno</div>
			</div>
			<div class="col-sm-6 m">
				<div data-jc="textbox" data-jc-path="lastname" data-required="true" data-maxlength="30">Priezvisko</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 m">
				<div data-jc="textbox" data-jc-path="email" data-required="true" data-jc-type="email" data-jc-value="'@'" data-maxlength="120">Emailová adresa</div>
			</div>
			<div class="col-sm-6 m">
				<div data-jc="textbox" data-jc-path="phone" data-maxlength="30">Telefónne číslo</div>
			</div>
		</div>

		<div class="row" style="margin-bottom:10px">
			<div class="col-sm-12">
				<div data-jc="textarea" data-jc-path="body" data-required="true" data-height="200px" data-placeholder="Vaše otázky ...">Správa</div>
			</div>
		</div>
		<br />

		<div data-jc="error" data-jc-path="response"></div>

		<div class="row">
			<div class="col-sm-6 m" data-jc="validation" data-jc-path="?">
				<button class="button" data-jc="click" disabled="disabled" data-jc-path="#contact.submit">ODOSLAŤ</button>
			</div>
		</div>
	</div>
</div>

<style>
	.contactform-success { line-height: 20px; text-align: center; }
	.contactform-success .fa { color: #8CC152; }
</style>

<script>

	OPERATION('contact.submit', function(component) {
		var path = component.pathscope;
		console.log(path, CAN(path + '.*'));
		CAN(path + '.*') && SETTER('loading', 'show') && AJAX('POST /api/contact/', GET(path), function(response) {
			SETTER('loading', 'hide', 1000);
			SET(path + '.response', response);
			response.success && DEFAULT(path + '.*', true);
		});
	});

</script>