/* line 11, ../sass/style.scss */
html {
  font-size: 16px;
}

/* line 15, ../sass/style.scss */
body {
  font-size: 16px;
}

/* line 19, ../sass/style.scss */
header {
  margin: 0;
  position: fixed;
  z-index: 1;
  background: #6fc055;
  left: 0;
  top: 0;
  right: 0;
  height: 6em;
  border: 0;
  box-shadow: 0 0.8em 0 rgba(0, 0, 0, 0.12);
}
/* line 31, ../sass/style.scss */
header .wrapper {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}
/* line 36, ../sass/style.scss */
header .wrapper h1 {
  width: 230px;
  height: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -1000em;
  display: inline-block;
  vertical-align: top;
  margin-top: 0 0.5em;
  margin-bottom: 0;
}
/* line 48, ../sass/style.scss */
header .wrapper h1 .logo {
  display: block;
  background: red;
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
  background: url("../../img/patroll-logo.gif") no-repeat center center;
  background-size: contain;
}
/* line 60, ../sass/style.scss */
header .wrapper h1 .claim {
  display: none;
}
/* line 65, ../sass/style.scss */
header .wrapper nav.mainmenu {
  margin-top: 1.5em;
}
/* line 68, ../sass/style.scss */
html.smadium-less header .wrapper nav.mainmenu.mainmenu-visible {
  margin-top: 3.8em;
}
/* line 72, ../sass/style.scss */
header .wrapper nav.mainmenu a {
  font-family: arial narrow;
  color: white;
  text-transform: lowercase;
  font-size: 1.5em;
  border: 0;
  padding: 0.25em 1em 0.35em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.25);
  margin-left: 0.5em;
}
/* line 83, ../sass/style.scss */
header .wrapper nav.mainmenu a:hover {
  background: #55ac4e;
}
/* line 86, ../sass/style.scss */
html.smadium-less header .wrapper nav.mainmenu a:hover {
  background: #092e16;
}
/* line 91, ../sass/style.scss */
header .wrapper nav.mainmenu a.selected {
  font-weight: normal;
  background: #1b8340;
}
/* line 95, ../sass/style.scss */
html.smadium-less header .wrapper nav.mainmenu a.selected {
  background: #1b8340;
}
/* line 100, ../sass/style.scss */
html.smadium-less header .wrapper nav.mainmenu a {
  border-radius: 0;
  margin-left: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 109, ../sass/style.scss */
header .wrapper .mainmenubutton {
  width: 3em;
  height: 3em;
  margin-top: 1.4em;
  margin-right: 0.8em;
}
/* line 116, ../sass/style.scss */
header .wrapper .mainmenubutton i {
  display: none;
}
/* line 120, ../sass/style.scss */
header .wrapper .mainmenubutton button {
  width: 100%;
  height: 100%;
  background: url("../../img/hamburger.gif") no-repeat center center;
  background-size: 80% auto;
}

/* line 131, ../sass/style.scss */
.content {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 8em;
  padding-bottom: 3em;
}
/* line 137, ../sass/style.scss */
html.smadium-less .content {
  padding-top: 6.5em;
}
/* line 141, ../sass/style.scss */
.content h1 {
  margin-top: 0.5em;
  text-align: left;
}

/* line 148, ../sass/style.scss */
footer {
  background: #EEE;
  padding: 1.5em;
  margin: 0;
  text-align: left;
}
/* line 154, ../sass/style.scss */
footer > div {
  border: 0;
  font-size: 0.9rem;
  max-width: 1024px;
}
/* line 160, ../sass/style.scss */
footer > div:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 169, ../sass/style.scss */
footer > div .copyright {
  float: left;
  font-size: inherit;
  position: relative;
  top: -0.5em;
}
/* line 175, ../sass/style.scss */
html.medium-less footer > div .copyright {
  float: none;
  text-align: center;
  line-height: 140%;
}
/* line 182, ../sass/style.scss */
footer > div nav {
  font-size: inherit;
  float: right;
  margin: 0;
  position: relative;
  top: -0.5em;
}
/* line 189, ../sass/style.scss */
html.medium-less footer > div nav {
  float: none;
  text-align: center;
  margin-bottom: 1em;
}
/* line 195, ../sass/style.scss */
footer > div nav a {
  display: inline-block;
  padding: 0.1em 1.2em;
  margin: 0;
}
/* line 200, ../sass/style.scss */
footer > div nav a + a {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
/* line 204, ../sass/style.scss */
html.medium-less footer > div nav a {
  padding: 0.1em 0.5em;
}

/* line 216, ../sass/style.scss */
.content .container {
  width: auto;
}
/* line 219, ../sass/style.scss */
.content .container > .centered {
  height: auto !important;
}
/* line 224, ../sass/style.scss */
.content .intro {
  font-size: 1.1rem;
  background: #FBFBFB;
  text-align: center;
  margin-bottom: 3em;
  line-height: 150%;
  padding: 0.6em;
  border: 1px solid #ddd;
  box-shadow: 0 0.1em 0.75em rgba(0, 0, 0, 0.1);
}
/* line 234, ../sass/style.scss */
.content .intro span {
  display: block;
  line-height: 150%;
}
/* line 238, ../sass/style.scss */
.content .intro span.first {
  font-size: 150%;
}
/* line 242, ../sass/style.scss */
.content .intro span.third {
  font-size: 125%;
}
/* line 248, ../sass/style.scss */
.content .form-report .inner-wrap, .content .form-users .inner-wrap {
  padding: 1.25em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 253, ../sass/style.scss */
.content .form-report .inner-wrap h2, .content .form-users .inner-wrap h2 {
  font-size: 1.75rem;
  margin-bottom: 0.75em;
}
/* line 257, ../sass/style.scss */
html.medium-less .content .form-report .inner-wrap h2, html.medium-less .content .form-users .inner-wrap h2 {
  font-size: 1.5em;
  line-height: 135%;
}
/* line 263, ../sass/style.scss */
.content .form-report .inner-wrap .gray, .content .form-users .inner-wrap .gray {
  font-size: 1.15rem;
  color: rgba(0, 0, 0, 0.7);
}
/* line 267, ../sass/style.scss */
html.medium-less .content .form-report .inner-wrap .gray, html.medium-less .content .form-users .inner-wrap .gray {
  font-size: 1em;
  line-height: 135%;
}
/* line 273, ../sass/style.scss */
.content .form-report .inner-wrap .ui-textbox, .content .form-users .inner-wrap .ui-textbox {
  background: #F5F5F5;
}
/* line 276, ../sass/style.scss */
.content .form-report .inner-wrap .ui-textbox input, .content .form-users .inner-wrap .ui-textbox input {
  background: transparent;
}
/* line 281, ../sass/style.scss */
.content .form-report .inner-wrap button, .content .form-users .inner-wrap button {
  border-radius: 0.25em;
  font-size: 1.2em;
}
/* line 285, ../sass/style.scss */
html.medium-less .content .form-report .inner-wrap button, html.medium-less .content .form-users .inner-wrap button {
  font-size: 1em;
}
/* line 291, ../sass/style.scss */
.content .form-report {
  padding: 0;
}
/* line 294, ../sass/style.scss */
.content .form-report .inner-wrap {
  margin-right: 1em;
}
/* line 301, ../sass/style.scss */
html.medium-less .content .form-report .inner-wrap {
  margin-right: 0;
  border: 0;
}
/* line 306, ../sass/style.scss */
.content .form-report .inner-wrap h2 {
  color: #A00;
}
/* line 310, ../sass/style.scss */
.content .form-report .inner-wrap button {
  background: #A00;
}
/* line 316, ../sass/style.scss */
.content .form-users {
  padding: 0;
}
/* line 319, ../sass/style.scss */
.content .form-users .inner-wrap {
  margin-left: 1em;
}
/* line 326, ../sass/style.scss */
html.medium-less .content .form-users .inner-wrap {
  margin-left: 0;
  border: 0;
}
/* line 331, ../sass/style.scss */
.content .form-users .inner-wrap h2 {
  color: #080;
}
/* line 335, ../sass/style.scss */
.content .form-users .inner-wrap button {
  background: #080;
}
/* line 341, ../sass/style.scss */
.content .extension {
  font-size: 1.2em;
  line-height: 140%;
}
/* line 346, ../sass/style.scss */
.content .mailinglist {
  font-size: 1.0em;
  line-height: 140%;
  width: 100%;
  margin-left: 0;
}
/* line 354, ../sass/style.scss */
.content .mailinglist * {
  font-size: inherit;
}
/* line 359, ../sass/style.scss */
.content .prototype {
  text-align: center;
  margin-bottom: 2em;
  color: #A00;
  text-shadow: 0 0 1.25em rgba(200, 0, 0, 0.5);
}
