<div class="container">
	<h1>@{title}</h1>
	<div class="row">
		<div class="col-md-8 m">
			<div class="row">
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
				<div class="col-md-6 m">
					<div class="faq-container">
						<h2 class="faq-question">Lorem ipsum dolor sit amet</h2>
						<p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet illo, doloremque accusamus provident facilis voluptate explicabo nihil. Odio veniam et rerum aliquid dolore alias eveniet dicta enim voluptates aliquam. Accusamus!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 m">
			<div class="m"><img src="/img/video.png" alt="Video návod" class="img-responsive img-rounded" border="0" /></div>
			<div data-jc-url="@{'/components/newsletter.html'}"></div>
		</div>
	</div>
</div>