@{title('Anti-Troll System')}

<br />
<div class="container">
	<div class="centered">
		<div class="centered-body">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 m">
					<div>
						<div class="inputbutton-button"><button class="button" data-jc="click" data-jc-path="doSubmit" data-enter=".centered"><i class="fa fa-send"></i><span>Pokračovať</span></button></div>
						<div class="inputbutton-input"><div data-jc="textbox" data-jc-path="common.q" data-placeholder="Vložiť Facebook URL adresu na príspevok alebo profil užívateľa" data-autofocus="true"></div></div>
					</div>
					<div class="help">
						<i class="fa fa-support"></i><a href="/faq/#zaciname" target="_blank">Ako získať URL adresu?</a><!-- - <a href="https://www.patroll.org/report/?url=https%3A%2F%2Fwww.facebook.com%2Foskar.dobrovodsky%2Fposts%2F1576314412427652%3Fcomment_id%3D1576870255705401%26comment_tracking%3D%257B%2522tn%2522%253A%2522R2%2522%257D">Ukážka</a> -->
					</div>
					<br />
					<br />
					<hr />
					<p class="description center"><i class="fa fa-lightbulb-o"></i><b>TIP:</b> nahlasujte nevhodné príspevky pohodlnejšie cez <a href="/extension/">rozšírenie pre Váš prehliadač</a>.</p>
					<br />
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div data-jc-url="@{'/components/newsletter.html'}" data-jc-cache="10 minutes"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	ON('resize', function(w) {
		var el = $('.centered');
		var dom = el.get(0);
		!dom.$height && (dom.$height = el.height());
		var h = w.height() - 170 - el.offset().top;
		dom.$height < h && el.css('height', h);
	});

	function doSubmit() {
		if (!common.q || !common.q.isURL() || BLOCKED('submit', 1000))
			return;

		var reg = /\/(posts|groups|videos)\//i;

		if (reg.test(common.q)) {
			location.href = '@{sitemap_url('report')}?url=' + encodeURIComponent(common.q);
		} else {
			// profile
		}
	}

</script>