<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext" rel="stylesheet" type="text/css" />
	<link href="/img/logo.png" rel="apple-touch-icon" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta name="robots" content="all,follow" />
	@{import('meta', 'head', 'default.js', 'default.css', 'favicon.ico')}
</head>
<body data-jc="exec,binder">

	<div data-jc="loading" class="hidden"></div>

	<header>
		<a href="/" class="logo"><img src="/img/logo.svg" height="40" border="0" alt="Patroll" /></a>
		<div class="mainmenubutton">
			<button class="exec" data-exec="mainmenu"><i class="fa fa-th"></i></button>
		</div>
		<nav class="mainmenu" data-b="common.mainmenu" data-b-class="n => n ? '+mainmenu-visible' : '-mainmenu-visible'">
			<a href="/">Úvodná stránka</a>
			<a href="/faq/">FAQ</a>
			<a href="/projekt/">Projekt</a>
			<a href="/kontakt/">Kontakt</a>
		</nav>
	</header>

	<div class="content">
		<div class="body">
			@{body}
		</div>
		<footer>
			<div>
				<nav>
					<a href="/">Úvodná stránka</a>
					<a href="/projekt/">Projekt</a>
					<a href="/faq/">FAQ</a>
					<a href="https://github.com/orgs/anti-troll-system/" target="_blank">GitHub</a>
					<a href="/kontakt/">Kontakt</a>
				</nav>
			</div>
		</footer>
	</div>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-100834370-1', 'auto');
		ga('send', 'pageview');

	</script>

</body>
</html>