<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext" rel="stylesheet" type="text/css" />
	<link href="/img/logo.png" rel="apple-touch-icon" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta name="robots" content="all,follow" />
	@{import('meta', 'head', 'default.js', 'default.css', 'favicon.ico')}
</head>
<body data-jc="exec,binder">

	<div data-jc="loading" class="hidden"></div>

	<header>
		<div class="wrapper">
			<h1><a href="/" class="logo">PATROLL</a> <span class="claim">za lepšiu diskusiu</span></h1>
			<div class="mainmenubutton">
				<button class="exec" data-exec="mainmenu"><i class="fa fa-th"></i></button>
			</div>
			<nav class="mainmenu" data-b="common.mainmenu" data-b-class="n => n ? '+mainmenu-visible' : '-mainmenu-visible'">
				<a href="/">Úvod</a>
				<a href="/projekt/">O projekte</a>
				<a href="/faq/">FAQ</a>
				<a href="/kontakt/">Kontakt</a>
			</nav>
		</div>
	</header>

	<div class="content">
		<div class="body">
			@{body}
		</div>		
	</div>
	
	<footer>
		<div class="wrapper">
			<nav>
				<a href="/">Úvod</a>
				<a href="/projekt/">O projekte</a>
				<a href="/faq/">FAQ</a>
				<a href="https://github.com/orgs/anti-troll-system/" target="_blank">GitHub</a>
				<a href="/kontakt/">Kontakt</a>
			</nav>
			<div class="copyright">&copy; 2017 Team PATROLL - Liek na každú nekalú&nbsp;činnosť&nbsp;je&nbsp;tansparentnosť!</div>
		</div>
	</footer>

</body>
</html>