<div class="container">
	<h1>@{title}</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ul class="links m">
				<li><i class="fa fa-book"></i><a href="https://docs.google.com/document/d/1F3x2d7vgnZFhw6jfYAAAnKXC_MC1OYgd2b6fT6d1p-E/" target="_blank">Funkčná špecifikácia</a></li>
				<li><i class="fa fa-book"></i><a href="https://docs.google.com/document/d/17luUbyNO2XRPgYr_Ano6IPbOglWN9b_kT66eUYFlTH8/" target="_blank">API systému</a></li>
				<li><i class="fa fa-code"></i><a href="https://github.com/orgs/anti-troll-system/dashboard" target="_blank">Zdrojové kódy</a></li>
			</ul>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div data-jc-url="@{'/components/newsletter.html'}"></div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12 logos">
			<a href="https://www.wezeo.com/"><img id="wezeo" src="./../img/wezeo.png" alt="wezeo logo"></a>
			<a href="https://www.totaljs.com/"><img src="./../img/totaljs.png" alt="totaljs logo"></a>
			<a href="https://www.muw.saatchi.sk/"><img src="./../img/saatchi.png" alt="saatchi logo"></a>
		</div>
	</div>
</div>