@{head('<script src="https://www.google.com/recaptcha/api.js" async defer></script>')}

<div class="container">
	<h1>@{title}</h1>
	<div class="center m">
		<div class="fb-comment-embed" data-href="@{query.url}" data-width="560" data-include-parent="false"></div>
		<div data-jc="post" data-jc-path="postdata"></div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="m">
				<div data-jc="textarea" data-jc-path="report.notes">Doplňujúce údaje</div>
			</div>
			<!--
			<div class="m">
				<div data-jc="recaptcha" data-jc-path="report.recaptcha" data-key="6LeOgCQUAAAAAH0x_slwbHF4OM6T5IrbMs2VB0O5" data-required="true"></div>
			</div>
			-->
		</div>
	</div>
	<hr />
	<br />
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div data-jc="error" data-jc-path="report.response"></div>
			<div class="row">
				<div class="col-md-6">
					<div data-jc="validation" data-jc-path="report">
						<button class="button button-large exec" data-exec="doSubmit" disabled="disabled"><i class="fa fa-check-circle"></i>DOKONČIŤ</button>
					</div>
				</div>
				<div class="col-md-6">
					<br />
					<a href="/">Zrušiť nahlásenie</a>
				</div>
			</div>
		</div>
	</div>
</div>

@{json(query, 'querydata')}
<script>

	var report = PARSE($('#querydata').html());

	function doSubmit() {
		RESET('report.*', true);
		AJAX('POST /api/report/', report, 'report.response');
	}
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/sk_SK/sdk.js#xfbml=1&version=v2.9&appId=210111095719871";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>